<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.facebook.react">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application>
        <provider
            android:authorities="com.facebook.react.blobs"
            android:name="com.facebook.react.modules.blob.BlobProvider"
            />
    </application>

</manifest>
